@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 1023px) {
  /* we are hiding right-column from 1024px-above, hence giving all width to the left-column */
  .grid-1 {
    grid-template-columns: 1fr;
  }
}

h2 {
  font-size: 28px;
  @apply font-bold;
  @apply leading-8;
}

h3 {
  @apply text-2xl;
  @apply font-bold;
  @apply leading-8;
}

.bg-x {
  position: relative;
  height: 100%;
  z-index: 0;
  background: url("/backgrounds/x-background.svg") 90% -90px / auto 110% no-repeat;
}

.bg-gradient-1 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: -5%;
  transform: translate(-50%);
  width: 100%;
  z-index: -1;
}

.bg-sidebar {
  background: linear-gradient(
    161.47deg,
    #050c2e,
    #354386 37.91%,
    #050c2e 101.51%
  );
}

.w-slider {
  width: 520px;
}

.blue-1 {
  color: #7fb2f9;
}

.bg-blue-1 {
  background-color: #2d3a76;
}
.bg-blue-2 {
  background-color: #111739;
}

.border-blue-1 {
  border: 1px solid rgba(29, 161, 242, 0.26);
}

/* ._loading_overlay_overlay {
  //  use this if overlay is wrapped around a component, you want background `blank` instead of `partially transparent`
  background-color: black !important;   
} */
